# Vesper Network Configuration
# Copy and rename to .env.testnet or .env.mainnet before use

VITE_NETWORK=mainnet
VITE_VESPER_CORE_ADDRESS=SP2C2YFP12AJZB4CJXEMUC4PSE2M7EJ4FSJ58D1A6.vesper-core
VITE_VESPER_DAO_ADDRESS=SP2C2YFP12AJZB4CJXEMUC4PSE2M7EJ4FSJ58D1A6.vesper-dao
VITE_VESPER_REGISTRY_ADDRESS=SP2C2YFP12AJZB4CJXEMUC4PSE2M7EJ4FSJ58D1A6.vesper-registry
